# Data Science Tools and Ecosystems

## In this notebook, data science tools and ecosystems are summarised

### Some of the most popular languages used in data science are:-
| Sr. No | Language|
|--------|---------|
| 1 | R |
| 2 | SQL |
| 3 | Python |

**Objectives:-** \
List popular languages for Data Science
+ R
+ SQL 
+ Python
+ Scala
+ C++
+ Java
+ Julia

**Some of the commonly used libraries in Data Science are** :-
| Sr. No | Libraries|
|--------|---------|
| 1 | GGplot |
| 2 | Matplotlib |
| 3 | Pandas |
| 4 | Numpy |
| 5 | Seaborn |

|**_Datascience tools_**|
|-----------------------|
| Rstudio |
| Watson Studio |
| Jupyter Lab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# this is a simply arithmetic operation to add and multiply integers

17

In [2]:
200/60
# This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

## Author
Sarath Menon